
.stepnav {
    display: inline-flex;
    width: 100%;
}
.ul {
    margin-left: auto;
}
.step2 {
    .items {
        display: flex;
    }
    .item {
        flex: 1;
        padding: 0 15px;

        &:first-child {
            display: flex;

            .card {
                flex: 1;
                flex-direction: column;
                
            }
        }
        &:nth-child(2) {
            .card {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
            }
            .picture {
                flex: 1 1 60%;
                margin-right: 20px;
            }
            .text {
                flex: 1 1 40%;
            }
        }
    }
}
